<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>home</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <script type="text/javascript" src="jquery-3.4.1.js"></script>
    <script src="layui/layui.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/xadmin.css">
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <br>
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <br>
<!--            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">-->
            <div class="layui-form-item input-item" id="imgCode">
                <input type="text" placeholder="请输入验证码" lay-verify="required" name="code" style="width: 70%;display: inline-block"  autocomplete="off" id="code" class="layui-input">
                <img  src="getCode" style="width: 28%; height : 100%;display: inline-block" onclick="this.src = this.src+'?'">
            </div>


            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
<!--            <hr class="hr20" >-->
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;
              //监听提交
              form.on('submit(login)', function(data){
                  console.log(JSON.stringify(data.field));
                  console.log(data);
                $.post("loginin",data.field,function (date) {
                    if (date.msg==="okk"){
                        location.href='page3'
                    }else {
                        layer.msg(date.msg)}
                })


                return false;
              });
            });
        })
    </script>
    <!-- 底部结束 -->

</body>
</html>